{% extends 'blog.html' %}
{% block title%}
Tecnología
{% endblock title %}

{% block buscador_blog %}
{% endblock buscador_blog %}

{% block ListaArticulos %}
    {% if posts%}

        {% for post in posts %}
            {% if post.categoria.nombre == 'TECNOLOGIA'%}
                <div class="Articulo__Item">
                    <div class="Articulo__Imagen">
                        <img src="{{ post.thumbnail }}" alt="" />
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                            <path fill="#fff" fill-opacity="1"
                                d="M0,96L60,80C120,64,240,32,360,37.3C480,43,600,85,720,122.7C840,160,960,192,1080,192C1200,192,1320,160,1380,144L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
                            </path>
                        </svg>
                    </div>

                    <div class="Articulo__Descripcion">
                        <div class="Articulo__Fecha">
                            <span>{{ post.fecha_creacion }}</span>
                        </div>
                        <div class="Articulo__Titulo">
                            <h2>{{ post.titulo }}</h2>
                        </div>
                        <div class="Articulo__Texto">
                            <p>{{ post.descripcion }}...</p>
                        </div>
                        <div class="Articulo__KeyWords">
                            <a href="{% url post.categoria.nombre %}">{{ post.categoria }}</a>
                        </div>
                        <div class="Articulo__btnVisitar">
                            <a href="{% url 'detalle_post' post.slug %}">Leer Más</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    {% else %}
    <h2 class="endif">No se encontro ningun Post</h2>
    {% endif %}
{% endblock ListaArticulos %}

{% block paginacion %}
{% endblock paginacion %}