{% extends 'social/home.html' %}

{% block Title %}DisCode - Temario {% endblock Title %}

{% block aprendizaje %}active{% endblock aprendizaje %}
{% block comunidad %}{% endblock comunidad %}
{% block challenge %}{% endblock challenge %}
{% block miperfil %}{% endblock miperfil %}

{% block Main %}
<div class="accordian">
    <div class="card">
        <div class="card-header">
            <h3>Tema <span class="fa fa-plus"></span></h3>
        </div>
        <div class="card-body">
            <p><a href="#">Link Item 1</a></p>
            <p><a href="#">Link Item 2</a></p>
            <p><a href="#">Link Item 3</a></p>
            <p><a href="#">Link Item 4</a></p>
            <p><a href="#">Link Item 5</a></p>
        </div>
    </div>
</div>
{% endblock Main %}