{% extends 'social/home.html' %}

{% block Title %}DisCode - Settings{% endblock Title %}

{% block aprendizaje %}{% endblock aprendizaje %}
{% block comunidad %}{% endblock comunidad %}
{% block challenge %}{% endblock challenge %}
{% block miperfil %}active{% endblock miperfil %}

{% block Main %}
<div class="Seccion__Titulo">
  <h1>En desarrollo...</h1>
</div>

<!-- <section class="GridPerfil">
  <section class="ContenedorPerfil">
    <div class="Informacion__Perfil">

      <div class="Perfil__BG">
        <img src="https://cdn.glitch.com/27131a37-2b0c-4505-85fd-e4cd33d55125%2FRukiaV1.png?v=1617173701292" alt="" width="100px">
        <div class="CapaColor"></div>
      </div>

      <div class="Perfil__Imagen__Bordes">
        <div class="Perfil__Imagen">
          <img src="https://cdn.glitch.com/27131a37-2b0c-4505-85fd-e4cd33d55125%2FRukiaV1.png?v=1617173701292" alt="" width="100px">       
        </div>
        <div class="Perfil__Nombre">
          <h2>Aurelio Marín Bautista</h2>
          <p class="Perfil__ID">#21253 | Estudiante</p>
        </div>
      </div>

      <div class="Seccion__Titulo">
          <h1>Editar Información</h1>
      </div>

      <div class="Editar__Informacion">
          <form action="">

              <div class="Editar__Informacion__Bordes">
                  <button class="Boton__Editar__Imagen">
                    <span class="material-icons nav__icon">photo</span>
                  </button>
                  
                  <div class="Editar__Informacion__Imagen">
                    <img src="https://cdn.glitch.com/27131a37-2b0c-4505-85fd-e4cd33d55125%2FRukiaV1.png?v=1617173701292" alt="" width="100px">       
                  </div>
              </div>

              <div class="Editar__Informacion__Formulario">

                <div class="form__div" id="Settings__Nombre">
                  <input type="text" class="form__input" placeholder="Aurelio" />
                  <label for="" class="form__label">Nombre</label>
                </div>
  
                <div class="form__div" id="Settings__Apellido">
                  <input type="text" class="form__input" placeholder="Marín Bautista" />
                  <label for="" class="form__label">Apellido</label>
                </div>
  
                <div class="form__div" id="Settings__Email">
                  <input type="email" class="form__input" placeholder="aurelio_mb12@icloud.com" />
                  <label for="" class="form__label">Email</label>
                </div>
  
                <div class="form__div" id="Settings__Password">
                  <input type="password" class="form__input" placeholder=" " />
                  <label for="" class="form__label">Contraseña</label>
                </div>

                <div class="form__div" id="Settings__NewPassword">
                  <input type="password" class="form__input" placeholder=" " />
                  <label for="" class="form__label">Nueva Contraseña</label>
                </div>

                <div class="form__div" id="Settings__ConfirmNewPassword">
                  <input type="password" class="form__input" placeholder=" " />
                  <label for="" class="form__label">Confirmar Nueva Contraseña</label>
                </div>

              </div>

              <div class="Contenedor__boton">
                <input type="submit" class="form__boton" value="Guardar"/>
              </div>
          </form>


          <div class="Editar__Informacion__Alertas">
              <p class="Error__EditarInfo">
                  Error: Algo salio mal al editar tu información.
              </p>

              <p class="Completado__EditarInfo">
                  Tu información fue guardada con exito.
              </p>
          </div>

      </div>


    </div>


  </section>
</section> -->
{% endblock Main %}

