{% extends 'social/home.html' %}

{% block Title %}DisCode - Mi Perfil{% endblock Title %}

{% block aprendizaje %}{% endblock aprendizaje %}
{% block comunidad %}active{% endblock comunidad %}
{% block challenge %}{% endblock challenge %}
{% block miperfil %}{% endblock miperfil %}

{% block myprofile %}
{% endblock myprofile %}

{% block Main %}
  <section class="GridPerfil">
    <section class="ContenedorPerfil">
      <div class="Informacion__Perfil">

        <div class="Perfil__BG">
          <img src="{{ user.profile.image.url }}" alt="" width="100px">
          <div class="CapaColor"></div>
        </div>

        <div class="Perfil__Imagen__Bordes">
          {% if request.user.is_authenticated %}
            {% if user.username != request.user.username %}
            
            {% else  %}
            <a href="{% url 'settings' %}" class="Perfil__Settings">
              <span class="material-icons nav__icon">settings</span>
            </a>
            {% endif  %}
          {% endif  %}
          
          
          <div class="Perfil__Imagen">
            <img src="{{ user.profile.image.url }}" alt="" width="100px">       
          </div>
          <div class="Perfil__Nombre">
            <h2>@{{ user.username }}</h2>
            <p class="Perfil__ID">#{{ user.id }} | Estudiante</p>
            <p class="Perfil__Correo">{{ user.email }}</p>
          </div>

        </div>

        <!-- ESTADISTICAS -->
        <div class="Contenedor__Perfil__Social">
          <div class="Perfil__Estadisticas">

            <div class="Estadisticas__Seguidores">
              <p>{{ user.posts.count }}</p>
              <p class="span">Posts</p>
            </div>

            <div class="Estadisticas__Cursos">
              <p>{{ user.profile.followers.count }}</p>
              <p class="span">Seguidores</p>
            </div>

            <div class="Estadisticas__Retos">
              <p>{{ user.profile.following.count }}</p>
              <p class="span">Seguidos</p>
            </div>
          </div>

          {% if request.user.is_authenticated %}
            {% if user.username != request.user.username %}
              {% if user not in request.user.profile.following %}
                <div class="Perfil__Social__Botones">   
                  <a class="Perfil__BotonesSocial" href="{% url 'follow' user %}">Follow</a>
                </div>
              {% else %}
                <div class="Perfil__Social__Botones">
                  <a class="Perfil__BotonesSocial" href="{% url 'unfollow' user %}">Unfollow</a>
                </div>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>

        
        <!-- PERFIL SEGUIDOS -->
        <!-- <div class="Perfil__Follow">
          <div class="Perfil__Follow__Titulo">
            <h2>Personas Seguidas</h2>
          </div>

          <div class="Perfil__Follow__Lista">

            <a href="userprofile-discodeapp.html">
              <div class="Follow__Imagen__Bordes">
                <div class="Follow__Imagen">
                  <img src="https://cdn.glitch.com/27131a37-2b0c-4505-85fd-e4cd33d55125%2Fneon-city-pan-4k-20.jpg?v=1616887587082" alt="" width="100px">       
                </div>
                <div class="Follow__Nombre">
                  <h3>Pefil 1</h3>
                  <p class="Follow__ID">#21259 | Estudiante</p>
                </div>
              </div>
            </a>

          </div>
        </div> -->


        <div class="feed">
          <div class="Perfil__Follow__Titulo">
            <br>
            <br>
            <h2>Mis Publicaciones</h2>
          </div>
          {% if posts %}
            {% for posts in posts %}
                <article>
                    <div class="Contenedor__PostFeed">
    
                        <div class="PostFeed__IMGBorder">
                            <div class="PostFeed__IMG">
                                <img src="{{ user.profile.image.url }}"
                                    alt="" width="100px">
                            </div>
                        </div>
    
                        <div class="PostFeed__Info">
                            <div class="PostFeed__Info__Username">
                                <h2><a href="#">@{{ user.username }}</a></h2>
                                <span class="PostFeed__Info__Fecha"> {{ posts.fecha_creacion }}<span class="material-icons">schedule</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="PostFeed__Info__Publicacion">
                        <p>{{ posts.contenido }}</p>
                    </div>
                </article>
            {% endfor %}
          {% else %}
          <h1 style="color:coral;">No se encontro ninguna Publicación</h1>
          {% endif %}
        </div>


        <!-- PERFIL CURSOS COMPLETADOS -->
        <!-- <div class="Perfil__Cursos">
          <div class="Perfil__Cursos__Titulo">
            <h2>Cursos Completados</h2>
          </div>

          <div class="Perfil__Cursos__Completados">

            <a href="#" class="Item__Curso">
              <div class="Curso__Imagen">
                <img src="https://www.cice.es/wp-content/uploads/2020/06/programar-en-python.jpg" alt="" height="100px">
                <span>Nuevo</span>
              </div>
  
              <div class="Curso__Descripcion">
                <div class="Curso__Titulo">
                  <h2>Python</h2>
                </div>
                <div class="Curso__Calificacion">
                  <span>Excelente: </span>
                  <span>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                  </span>
                  
                </div>
              </div>
            </a>

            <a href="#" class="Item__Curso">
              <div class="Curso__Imagen">
                <img src="https://www.maquinasvirtuales.eu/ipsoapoo/2019/10/powershell-saber-version-de-java-via-comando-1-660x330.jpg" alt="" height="100px">
                <span>Nuevo</span>
              </div>
  
              <div class="Curso__Descripcion">
                <div class="Curso__Titulo">
                  <h2>Java</h2>
                </div>
                <div class="Curso__Calificacion">
                  <span>Excelente: </span>
                  <span>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                  </span>
                  
                </div>
              </div>
            </a>

            <a href="#" class="Item__Curso">
              <div class="Curso__Imagen">
                <img src="https://i0.wp.com/unaaldia.hispasec.com/wp-content/uploads/2019/06/django.png?resize=1024%2C683&ssl=1" alt="" height="100px">
                <span>Nuevo</span>
              </div>
  
              <div class="Curso__Descripcion">
                <div class="Curso__Titulo">
                  <h2>Django</h2>
                </div>
                <div class="Curso__Calificacion">
                  <span>Excelente: </span>
                  <span>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                  </span>
                  
                </div>
              </div>
            </a>

            <a href="#" class="Item__Curso">
              <div class="Curso__Imagen">
                <img src="https://d2skuhm0vrry40.cloudfront.net/2020/articles/2020-08-25-14-34/-1598362494711.jpg/EG11/thumbnail/750x422/format/jpg/quality/60" alt="" height="100px">
                <span>Nuevo</span>
              </div>
  
              <div class="Curso__Descripcion">
                <div class="Curso__Titulo">
                  <h2>Unity</h2>
                </div>
                <div class="Curso__Calificacion">
                  <span>Excelente: </span>
                  <span>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                  </span>
                  
                </div>
              </div>
            </a>

            <a href="#" class="Item__Curso">
              <div class="Curso__Imagen">
                <img src="https://img.unocero.com/2019/03/javascript.jpg" alt="" height="100px">
                <span>Nuevo</span>
              </div>
  
              <div class="Curso__Descripcion">
                <div class="Curso__Titulo">
                  <h2>JavaScript</h2>
                </div>
                <div class="Curso__Calificacion">
                  <span>Excelente: </span>
                  <span>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                  </span>
                  
                </div>
              </div>
            </a>

            <a href="#" class="Item__Curso">
              <div class="Curso__Imagen">
                <img src="https://www.ecured.cu/images/9/9d/PHP.jpeg" alt="" height="100px">
                <span>Nuevo</span>
              </div>
  
              <div class="Curso__Descripcion">
                <div class="Curso__Titulo">
                  <h2>PHP</h2>
                </div>
                <div class="Curso__Calificacion">
                  <span>Excelente: </span>
                  <span>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                  </span>
                  
                </div>
              </div>
            </a>

            <a href="#" class="Item__Curso">
              <div class="Curso__Imagen">
                <img src="https://www.wallpaperuse.com/wallp/29-295279_m.jpg" alt="" height="100px">
                <span>Nuevo</span>
              </div>
  
              <div class="Curso__Descripcion">
                <div class="Curso__Titulo">
                  <h2>Título de Curso</h2>
                </div>
                <div class="Curso__Calificacion">
                  <span>Excelente: </span>
                  <span>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                  </span>
                  
                </div>
              </div>
            </a>

          </div>
        </div> -->


        <!-- PERFIL RETOS COMPLETADOS -->
        <!-- <div class="Perfil__Retos">
          <div class="Perfil__Retos__Titulo">
            <h2>Retos Completados</h2>
          </div>

          <div class="Perfil__Retos__Completados">

            <a href="#" class="Item__Reto">
              <div class="Reto__Imagen">
                <img src="https://www.initcoms.com/wp-content/uploads/2020/01/presupuesto-landing-page-1.png" alt="" height="100px">
                <span>HTML & CSS</span>
              </div>
  
              <div class="Reto__Descripcion">
                <div class="Reto__Titulo">
                  <h2>Maquetado de Landing Page</h2>
                </div>
                <div class="Reto__Texto">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, iure ab! Ducimus quos eius sint rerum, laudantium sequi, unde et perspiciatis quam, ipsa explicabo harum corporis tenetur aut officia aliquid!</p>
                </div>
                <div class="Reto__Dificultad" id="MuyFacil">
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                </div>
              </div>
            </a>

            <a href="#" class="Item__Reto">
              <div class="Reto__Imagen">
                <img src="https://www.initcoms.com/wp-content/uploads/2020/01/presupuesto-landing-page-1.png" alt="" height="100px">
                <span>HTML & CSS</span>
              </div>
  
              <div class="Reto__Descripcion">
                <div class="Reto__Titulo">
                  <h2>Maquetado de Landing Page</h2>
                </div>
                <div class="Reto__Texto">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, iure ab! Ducimus quos eius sint rerum, laudantium sequi, unde et perspiciatis quam, ipsa explicabo harum corporis tenetur aut officia aliquid!</p>
                </div>
                <div class="Reto__Dificultad" id="Facil">
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                </div>
              </div>
            </a>

            <a href="#" class="Item__Reto">
              <div class="Reto__Imagen">
                <img src="https://www.initcoms.com/wp-content/uploads/2020/01/presupuesto-landing-page-1.png" alt="" height="100px">
                <span>HTML & CSS</span>
              </div>
  
              <div class="Reto__Descripcion">
                <div class="Reto__Titulo">
                  <h2>Maquetado de Landing Page</h2>
                </div>
                <div class="Reto__Texto">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, iure ab! Ducimus quos eius sint rerum, laudantium sequi, unde et perspiciatis quam, ipsa explicabo harum corporis tenetur aut officia aliquid!</p>
                </div>
                <div class="Reto__Dificultad" id="Mediano">
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                </div>
              </div>
            </a>

            <a href="#" class="Item__Reto">
              <div class="Reto__Imagen">
                <img src="https://www.initcoms.com/wp-content/uploads/2020/01/presupuesto-landing-page-1.png" alt="" height="100px">
                <span>HTML & CSS</span>
              </div>
  
              <div class="Reto__Descripcion">
                <div class="Reto__Titulo">
                  <h2>Maquetado de Landing Page</h2>
                </div>
                <div class="Reto__Texto">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, iure ab! Ducimus quos eius sint rerum, laudantium sequi, unde et perspiciatis quam, ipsa explicabo harum corporis tenetur aut officia aliquid!</p>
                </div>
                <div class="Reto__Dificultad" id="Moderado">
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                </div>
              </div>
            </a>

            <a href="#" class="Item__Reto">
              <div class="Reto__Imagen">
                <img src="https://www.initcoms.com/wp-content/uploads/2020/01/presupuesto-landing-page-1.png" alt="" height="100px">
                <span>HTML & CSS</span>
              </div>
  
              <div class="Reto__Descripcion">
                <div class="Reto__Titulo">
                  <h2>Maquetado de Landing Page</h2>
                </div>
                <div class="Reto__Texto">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, iure ab! Ducimus quos eius sint rerum, laudantium sequi, unde et perspiciatis quam, ipsa explicabo harum corporis tenetur aut officia aliquid!</p>
                </div>
                <div class="Reto__Dificultad" id="Dificil">
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                  <span class="material-icons">horizontal_rule</span>
                </div>
              </div>
            </a>



          </div>
        </div> -->

      </div>


    </section>
  </section>
{% endblock Main %}