{% extends 'social/home.html' %}
{% load humanize %}

<link rel="stylesheet" href="../../../static/estilos_home.css">

{% block Title %}DisCode - Feed {% endblock Title %}

{% block aprendizaje %}{% endblock aprendizaje %}
{% block comunidad %}active{% endblock comunidad %}
{% block challenge %}{% endblock challenge %}
{% block miperfil %}{% endblock miperfil %}

{% block Main %}
<div class="feed">
    <article>
        <div class="ComunidadDiscode">
            <h1>Comunidad DisCode</h1>
        </div>
        <form action="" class="formulario__publicacion" method="post">
            {% csrf_token %}
            {{ form.contenido }}
            <!-- <textarea type="text" class="form__textarea textarea" placeholder="¿Que estas pensando?"></textarea> -->
            <div class="contenedor__send">
                <button type="submit" class="form__send">Públicar</button>
            </div>
        </form>
    </article>
    {% if publicacion %}
        {% for publicacion in publicacion %}
            <article>
                <div class="Contenedor__PostFeed">

                    <div class="PostFeed__IMGBorder">
                        <div class="PostFeed__IMG">
                            <img src="{{ publicacion.user.profile.image.url }}"
                                alt="" width="100px">
                        </div>
                    </div>

                    <div class="PostFeed__Info">
                        <div class="PostFeed__Info__Username">
                            <h2><a href="{% url 'profile' publicacion.user.username %}">@{{ publicacion.user.username }}</a></h2>
                            <span class="PostFeed__Info__Fecha">{{ publicacion.fecha_creacion | naturaltime }} <span class="material-icons">schedule</span></span>
                        </div>
                    </div>
                </div>
                <div class="PostFeed__Info__Publicacion">
                    <p>{{ publicacion.contenido }}</p>
                </div>
            </article>
        {% endfor %}
    {% else %}
    <h1 style="color:coral;">No se encontro ninguna Publicación</h1>
    {% endif %}
    
</div>
{% endblock Main %}